body { 
  font-family: Arial, sans-serif;
  background-color: #232323;
  color: aliceblue;
}

.container{
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

button{
  padding: 10px 20px;
  font-size: 16px;
  background-color: #047dff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

button:hover{
  background-color: #004691;
}

.paragraph{
  background-color: #111111;
  border-radius: 5px;
  width:fit-content;
  padding: 5px;
  text-align: center;
  margin: 2px auto;
}

.btn{
  margin-top: 10px;
}

#quote::before,
#quote::after{
  content: '"';
}

#quote{
   font-style: italic;
}